                body {
                    background-color: gray;
                }
                
                .box {
                    width: 200px;
                    height: 200px;
                    opacity: 20%;
                    background-color: lightblue;
                    margin: 40px auto;
                    animation-name: square-to-circle;
                    animation-duration: 2s;
                    animation-delay: .5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate;
                }
                
                .box1 {
                    width: 200px;
                    height: 200px;
                    background-color: lightblue;
                    margin: 40px auto;
                    animation-name: square-to-circle1;
                    animation-duration: 2s;
                    animation-delay: .5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate;
                }
                
                .box2 {
                    width: 200px;
                    height: 200px;
                    background-color: lightblue;
                    margin: 40px auto;
                    animation-name: square-to-circle2;
                    animation-duration: 2s;
                    animation-delay: .5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate;
                }
                
                @keyframes square-to-circle {
                    0% {
                        border-radius: 0;
                        background-color: red;
                        transform: rotate(0deg);
                        perspective-origin: 0%;
                    }
                    25% {
                        border-radius: 50% 0 0 0;
                        background-color: orange;
                        transform: matrix(45deg);
                        perspective-origin: 25%;
                    }
                    50% {
                        border-radius: 50% 50% 0 0;
                        background-color: yellow;
                        transform: rotate(90deg);
                        perspective-origin: 50%;
                    }
                    75% {
                        border-radius: 50% 50% 50% 0;
                        background-color: orange;
                        transform: rotate(135deg);
                        perspective-origin: 75%;
                    }
                    100% {
                        border-radius: 50% 50% 50% 50%;
                        background-color: red;
                        transform: rotate(180deg);
                        perspective-origin: 100%;
                    }
                }
                
                @keyframes square-to-circle1 {
                    0% {
                        border-radius: 0;
                        background-color: green;
                        transform: rotate(180deg);
                        perspective-origin: 0%;
                    }
                    25% {
                        border-radius: 50% 0 0 0;
                        background-color: blue;
                        transform: matrix(135deg);
                        perspective-origin: 25%;
                    }
                    50% {
                        border-radius: 50% 50% 0 0;
                        background-color: purple;
                        transform: rotate(90deg);
                        perspective-origin: 50%;
                    }
                    75% {
                        border-radius: 50% 50% 50% 0;
                        background-color: blue;
                        transform: rotate(45deg);
                        perspective-origin: 75%;
                    }
                    100% {
                        border-radius: 50% 50% 50% 50%;
                        background-color: green;
                        transform: rotate(0deg);
                        perspective-origin: 100%;
                    }
                }
                
                @keyframes square-to-circle2 {
                    0% {
                        border-radius: 50% 50% 50% 50%;
                        ;
                        background-color: rgb(225, 116, 116);
                        transform: scale(100%);
                        perspective-origin: 0%;
                    }
                    40% {
                        border-radius: 25% 25% 25% 25%;
                        background-color: red;
                        transform: scale(150%);
                        perspective-origin: 25%;
                    }
                    50% {
                        border-radius: 50% 50% 50% 50%;
                        background-color: rgb(225, 116, 116);
                        transform: scale(100%);
                        perspective-origin: 50%;
                    }
                    60% {
                        border-radius: 25% 25% 25% 25%;
                        background-color: red;
                        transform: scale(150%);
                        perspective-origin: 75%;
                    }
                    100% {
                        border-radius: 50% 50% 50% 50%;
                        background-color: rgb(225, 116, 116);
                        transform: scale(100%);
                        perspective-origin: 100%;
                    }
                }