h1 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.car {
    border-radius: 1%;
    text-shadow: 1%;
}

.tool p {
    display: none;
}

.tool:hover p {
    display: contents;
}

.box {
    height: 500px;
    width: 500px;
    border-radius: 10%;
    margin: 50px auto;
    animation-duration: .4s;
    animation-delay: .5s;
    animation-name: grad;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes grad {
    0% {
        background-image: linear-gradient(to bottom right, red, orange);
    }
    5.55% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, red, orange);
    }
    11.11% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, orange, yellow);
    }
    16.66% {
        background-image: linear-gradient(to bottom right, orange, yellow);
    }
    22.22% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, orange, yellow);
    }
    27.77% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, yellow, green);
    }
    33.33% {
        background-image: linear-gradient(to bottom right, yellow, green);
    }
    38.88% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, yellow, green);
    }
    44.44% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, green, blue);
    }
    50% {
        background-image: linear-gradient(to bottom right, green, blue);
    }
    55.55% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, green, blue);
    }
    61.11% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, blue, purple);
    }
    66.66% {
        background-image: linear-gradient(to bottom right, blue, purple);
    }
    72.22% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, blue, purple);
    }
    77.77% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, purple, red);
    }
    83.33% {
        background-image: linear-gradient(to bottom right, purple, red);
    }
    88.88% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, purple, red);
    }
    94.44% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, red, orange);
    }
}

.box2 {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    animation-duration: .6s;
    animation-delay: .8s;
    animation-iteration-count: infinite;
    animation-name: pam, grad;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes pam {
    0% {
        rotate: 0deg;
        translate: 0px;
    }
    100% {
        rotate: 1000deg;
        translate: 1440px;
    }
}

.box4 {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    animation-duration: .6s;
    animation-delay: .11s;
    animation-iteration-count: infinite;
    animation-name: pam, grad;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.box5 {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    animation-duration: .6s;
    animation-delay: .14s;
    animation-iteration-count: infinite;
    animation-name: pam, grad;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.box6 {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    animation-duration: .6s;
    animation-delay: .17s;
    animation-iteration-count: infinite;
    animation-name: pam, grad;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.box7 {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    animation-duration: .6s;
    animation-delay: .20s;
    animation-iteration-count: infinite;
    animation-name: pam, grad;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.str img {
    width: 100px;
}

.str:hover img {
    width: 500px;
    height: 100px;
}