body {
    background-color: gray;
}

.box {
    width: 200px;
    height: 200px;
    opacity: 20%;
    background-color: lightblue;
    margin: 40px auto;
    animation-name: square-to-circle;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 40px auto;
    animation-name: square-to-circle1;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 40px auto;
    animation-name: square-to-circle2;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes square-to-circle {
    0% {
        border-radius: 0;
        background-color: red;
        transform: rotate(0deg);
        perspective-origin: 0%;
    }
    25% {
        border-radius: 50% 0 0 0;
        background-color: orange;
        transform: matrix(45deg);
        perspective-origin: 25%;
    }
    50% {
        border-radius: 50% 50% 0 0;
        background-color: yellow;
        transform: rotate(90deg);
        perspective-origin: 50%;
    }
    75% {
        border-radius: 50% 50% 50% 0;
        background-color: orange;
        transform: rotate(135deg);
        perspective-origin: 75%;
    }
    100% {
        border-radius: 50% 50% 50% 50%;
        background-color: red;
        transform: rotate(180deg);
        perspective-origin: 100%;
    }
}

@keyframes square-to-circle1 {
    0% {
        border-radius: 0;
        background-color: green;
        transform: rotate(180deg);
        perspective-origin: 0%;
    }
    25% {
        border-radius: 50% 0 0 0;
        background-color: blue;
        transform: matrix(135deg);
        perspective-origin: 25%;
    }
    50% {
        border-radius: 50% 50% 0 0;
        background-color: purple;
        transform: rotate(90deg);
        perspective-origin: 50%;
    }
    75% {
        border-radius: 50% 50% 50% 0;
        background-color: blue;
        transform: rotate(45deg);
        perspective-origin: 75%;
    }
    100% {
        border-radius: 50% 50% 50% 50%;
        background-color: green;
        transform: rotate(0deg);
        perspective-origin: 100%;
    }
}

@keyframes square-to-circle2 {
    0% {
        border-radius: 50% 50% 50% 50%;
        ;
        background-color: rgb(225, 116, 116);
        transform: scale(100%);
        perspective-origin: 0%;
    }
    40% {
        border-radius: 25% 25% 25% 25%;
        background-color: red;
        transform: scale(150%);
        perspective-origin: 25%;
    }
    50% {
        border-radius: 50% 50% 50% 50%;
        background-color: rgb(225, 116, 116);
        transform: scale(100%);
        perspective-origin: 50%;
    }
    60% {
        border-radius: 25% 25% 25% 25%;
        background-color: red;
        transform: scale(150%);
        perspective-origin: 75%;
    }
    100% {
        border-radius: 50% 50% 50% 50%;
        background-color: rgb(225, 116, 116);
        transform: scale(100%);
        perspective-origin: 100%;
    }
}

@keyframes grad {
    0% {
        background-image: linear-gradient(to bottom right, red, orange);
    }
    5.55% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, red, orange);
    }
    11.11% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, orange, yellow);
    }
    16.66% {
        background-image: linear-gradient(to bottom right, orange, yellow);
    }
    22.22% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, orange, yellow);
    }
    27.77% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, yellow, green);
    }
    33.33% {
        background-image: linear-gradient(to bottom right, yellow, green);
    }
    38.88% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, yellow, green);
    }
    44.44% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, green, blue);
    }
    50% {
        background-image: linear-gradient(to bottom right, green, blue);
    }
    55.55% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, green, blue);
    }
    61.11% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, blue, purple);
    }
    66.66% {
        background-image: linear-gradient(to bottom right, blue, purple);
    }
    72.22% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, blue, purple);
    }
    77.77% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, purple, red);
    }
    83.33% {
        background-image: linear-gradient(to bottom right, purple, red);
    }
    88.88% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, purple, red);
    }
    94.44% {
        opacity: 50%;
        background-image: linear-gradient(to bottom right, red, orange);
    }
}

.box2 {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    animation-duration: .4s;
    animation-delay: .5s;
    animation-name: pam;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    background-color: black;
}

@keyframes pam {
    0% {
        transform: rotate(0deg), translate(0);
        right: 0px;
        top: 0px;
    }
    100% {
        transform: rotate(360deg), translate(500px);
        right: 200px;
        top: 0px;
    }
}