@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

a {
    text-decoration: none;
}
.typewrite{
color: grey;
}

.left {
    background: lightgray;
    overflow: hidden;
    color: lightgray;
    content-visibility: hidden;
}

.right {
    background: white;
    color: gray;
}

.grid {
    height: auto;
    background: gray;
    gap: 3px;
    transition: 400ms;
    display: grid;
    grid-template-columns: 48px auto;
    margin-bottom: 20px;
}

.grid:has(.left:hover) {
    grid-template-columns: 95% auto;
}
.left:hover {
    background-color: white;
    color: gray;
    content-visibility: visible;

}

.left:hover + .right {
    content-visibility: hidden;
    background: lightgray;
}
