@import url("https://use.typekit.net/gjt2ekd.css");
.cb {
    font-family: calibri, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.c {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.green {
    color: #8BC53F
}

A {
    text-decoration: none;
}