@import url("https://use.typekit.net/gjt2ekd.css");
.cb {
    font-family: calibri, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.c {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.green {
    color: #8BC53F
}

A {
    text-decoration: none;
}

.tcentered {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
}

.gbg {
    background-color: rgb(245, 245, 247)
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.container1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}

footer {
    border: none;
}