@import url("https://use.typekit.net/gjt2ekd.css");
.cb {
    font-family: calibri, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.c {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.green {
    color: #8BC53F
}

A {
    text-decoration: none;
}

.tcentered {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
}

.gbg {
    background-color: rgb(245, 245, 247)
}